@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
	padding: 10px;
}

.clearfix:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both
}

html {
	font-family: 'Open Sans';
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: bold
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: bold
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans';
	font-size: 16px;
}

body {
	margin: 0;
	font-family: 'Open Sans';
}

a {
	text-decoration: none;
	color: #0072BC;
	cursor: pointer;
	font-size: inherit;
}

a[aria-decoration] {
	text-decoration: underline;
	text-decoration-skip: ink
}

a[aria-disabled] {
	pointer-events: none;
	color: rgba(0, 0, 0, 0.3)
}

a:hover:not([aria-disabled]) {
	-webkit-text-stroke: 0
}

p {
	color: #5C6970;
	font-size: 16px;
	line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #434A5A;
	font-weight: 400
}

hr {
	display: block;
	height: 3px;
	border: 0;
	border-bottom: 1px dashed #CCD1D9;
	margin-top: 40px;
	margin-bottom: 40px
}

.o-Grid {
	display: flex;
	flex-wrap: wrap
}

.o-Grid .o-Grid__Cell {
	width: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	max-width: 100%;
	flex-basis: 100%
}

@media (min-width: 60em) {
	.o-Grid[columns='2'] {
		display: flex;
		flex-wrap: wrap
	}
	.o-Grid[columns='2'] .o-Grid__Cell {
		width: 100%;
		flex-grow: 1;
		flex-shrink: 0;
		max-width: 50%;
		flex-basis: 50%
	}
	.o-Grid[columns='3'] {
		display: flex;
		flex-wrap: wrap
	}
	.o-Grid[columns='3'] .o-Grid__Cell {
		width: 100%;
		flex-grow: 1;
		flex-shrink: 0;
		max-width: 33.3333333333%;
		flex-basis: 33.3333333333%
	}
	.o-Grid[columns='4'] {
		display: flex;
		flex-wrap: wrap
	}
	.o-Grid[columns='4'] .o-Grid__Cell {
		width: 100%;
		flex-grow: 1;
		flex-shrink: 0;
		max-width: 25%;
		flex-basis: 25%
	}
	.o-Grid[columns='5'] {
		display: flex;
		flex-wrap: wrap
	}
	.o-Grid[columns='5'] .o-Grid__Cell {
		width: 100%;
		flex-grow: 1;
		flex-shrink: 0;
		max-width: 20%;
		flex-basis: 20%
	}
}

.o-Grid__Cell {
	padding: 20px;
	box-sizing: border-box
}

.o-Grid__Cell.o-Grid__Cell--FullWidth {
	max-width: none !important
}

.c-Logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #5a5a5a;
	outline: none;
	transform: scale(0.7);
	transform-origin: left center
}

@media (min-width: 60em) {
	.c-Logo {
		transform: none
	}
}

.c-Logo__Image {
	height: 21px
}

.c-Logo__Text {
	color: #5a5a5a;
	font-weight: lighter;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-text-stroke: 0;
	white-space: nowrap;
	font-size: 16px;
	margin-left: 8px;
	border-left: 1px solid #5a5a5a
}

.c-Logo__Text::before {
	content: '';
	display: inline-block;
	margin-right: 8px
}

@media (min-width: 60em) {
	.c-Logo__Text {
		margin-left: 14px;
		font-size: 25px
	}
	.c-Logo__Text::before {
		content: '';
		display: inline-block;
		margin-right: 12px
	}
}

.c-SiteHeader {
	background-color: #FFF;
	padding: 50px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
	z-index: 3
}

@media (min-width: 60em) {
	.c-SiteHeader {
		padding: 50px 30px
	}
}

.c-SiteHeader__MenuTrigger {
	display: block;
	cursor: pointer
}

@media (min-width: 60em) {
	.c-SiteHeader__MenuTrigger {
		display: none
	}
}

.c-SiteNavigation {
	display: none;
	justify-content: center;
	flex-flow: column nowrap;
	align-items: center;
	white-space: nowrap;
	background-color: #FFF;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

input[type=checkbox]:checked~.c-SiteNavigation {
	display: flex
}

@media (min-width: 60em) {
	.c-SiteNavigation {
		display: flex;
		z-index: initial;
		position: initial;
		flex-flow: row nowrap;
		justify-content: initial;
		align-items: initial
	}
}

.c-SiteNavigation__Close {
	cursor: pointer;
	top: 16px;
	right: 16px;
	position: absolute
}

@media (min-width: 60em) {
	.c-SiteNavigation__Close {
		display: none
	}
}

.c-SiteNavigation__Item {
	display: inline-block;
	color: #6b7d86;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 6vw;
	padding: 24px
}

.c-SiteNavigation__Item:hover,
.c-SiteNavigation__Item.is-active {
	color: #0072bc
}

@media (min-width: 60em) {
	.c-SiteNavigation__Item {
		padding: 8px;
		font-size: initial
	}
	.c-SiteNavigation__Item+.c-SiteNavigation__Item::before {
		content: '|';
		margin-right: 16px;
		display: inline-block;
		color: #6b7d86
	}
}

.c-Card {
	display: flex;
	flex-flow: column nowrap;
	background-color: #FFF;
	border: 1px solid #E6E9ED;
	position: relative;
	overflow: auto;
	padding: 24px
}

@media (min-width: 60em) {
	.c-Card {
		min-height: 416px
	}
}

.c-Card__Title {
	margin-top: 0;
	margin-bottom: 32px
}

.c-Card-Content {
	flex-grow: 1
}

.c-Card-Footer {
	display: flex;
	justify-content: flex-end;
	margin-top: 32px
}

.c-Button {
	padding: 10px 20px;
	font-size: 14px;
	cursor: pointer;
	text-transform: uppercase;
	color: #434A5A;
	background-color: currentColor;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid currentColor;
	border-bottom: 0;
	line-height: 1.2;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	outline: none
}

.c-Button[aria-theme='accent'] {
	color: #0072BC
}

.c-Button[aria-theme='primary'] {
	color: #AAB2BD
}

.c-Button[aria-theme='secondary'] {
	color: #5C6970
}

.c-Button[aria-theme='error'] {
	color: #F44336
}

.c-Button[aria-theme='success'] {
	color: #4CAF50
}

.c-Button[aria-theme='light'] {
	color: #E6E9ED
}

.c-Button[aria-type~='block'] {
	display: block
}

.c-Button[aria-type~='outlined'] {
	background-color: transparent;
	border: 1px solid currentColor;
	box-shadow: none
}

.c-Button[aria-type~='noshadow'] {
	box-shadow: none
}

.c-Button[aria-type~='small'] {
	padding: 6px 14px;
	font-size: 12px
}

.c-Button[aria-type~='smallest'] {
	padding: 4px 8px;
	font-size: 12px
}

.c-Button:active {
	transform: translateY(1px)
}

.c-Button:hover {
	box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.05);
	-webkit-text-stroke: 0
}

.c-Button.c-Button--RightFloat {
	float: right
}

.c-Button__Text {
	color: #FFF;
	font-weight: bold;
	user-select: none;
	-webkit-text-stroke: 0
}

.c-Button[aria-type~='outlined'] .c-Button__Text {
	color: currentColor
}

table {
	font-size: 14px;
	background-color: #FFF;
	width: 100%
}

th {
	text-align: left
}

td,
th {
	padding: 8px 16px;
	border: 1px solid #E6E9ED
}

h1,
h2,
h3,
h4 {
	line-height: 1.2;
	color: #434A5A;
	font-weight: 400;
	line-height: calc(1em + 1vw)
}

h1 {
	color: #0072BC;
	font-size: calc(2em + 1vw)
}

h2 {
	font-size: calc(1.3em + 1vw)
}

h3 {
	font-size: calc(1em + 1vw)
}

h4 {
	font-size: calc(0.7em + 1vw)
}

p {
	line-height: 1.6;
	font-size: 1rem;
	color: #656D78
}

a {
	color: #0072BC
}

code {
	background-color: #E6E9ED;
	color: #000;
	padding: 4px 6px;
	margin: 32px 0;
	font-size: 12px !important
}

.AppShell {
	padding: 0 20px;
	position: relative
}

.AppShell--Display {
	padding: 0
}

.AppShell-Wrapper {
	max-width: 1100px;
	position: relative;
	margin: 0 auto 40px;
	padding-top: 0;
}

@media (min-width: 60em) {
	.AppShell-Wrapper {
		padding-top: 0;
	}
}

.AppShell__Sidebar {
	border-bottom: 1px solid #E6E9ED
}

.AppShell__Sidebar:empty {
	display: none
}

.AppShell__Sidebar::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent
}

.AppShell__Sidebar::-webkit-scrollbar-track {
	background-color: transparent
}

.AppShell__Sidebar::-webkit-scrollbar-thumb {
	background: #E6E9ED
}

.AppShell__Sidebar::-webkit-scrollbar-thumb:hover {
	background-color: #0072bc
}

.AppShell__Sidebar::-webkit-scrollbar-thumb:window-inactive {
	background: transparent
}

.AppShell__Content {
	min-height: 50vh
}

.AppShell__Sidebar {
	position: absolute;
	width: 20%;
	height: 100%;
	overflow: auto;
	border-right: 1px solid #E6E9ED;
	border-bottom: 0;
	padding-left: 15px;
}

.AppShell__Sidebar:not(:empty)+.AppShell__Content {
	margin-left: calc(20% + 58px);
}

@media (max-width: 992px){
	.AppShell__Sidebar {
		position: relative;
		width: 100%;
	}
	.AppShell__Sidebar:not(:empty)+.AppShell__Content {
		margin-left: 0;
		padding-left: 15px;
	}
}

.AppShell__Content.hr-h4-margin-swap hr {
	margin-bottom: 0
}

.AppShell__Content.hr-h4-margin-swap h2 {
	margin-top: 0;
	padding-top: 70px
}

.AppShell__Content.hr-h4-margin-swap h2:first-of-type {
	padding-top: 0
}

.back-to-top {
	position: fixed;
	z-index: 99999;
	bottom: 20px;
	right: 20px;
	opacity: 0;
	-webkit-transform: translateY(100px);
	transform: translateY(100px);
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: 1s;
	transition: 1s
}

.back-to-top.show-btn {
	pointer-events: auto;
	-webkit-transform: none;
	transform: none;
	opacity: 0.3
}

.back-to-top.show-btn:hover {
	opacity: 1
}

.Button {
	display: inline-block;
	border: none;
	background-color: #0072bc;
	color: #FFF;
	font-weight: 700;
	padding: 8px 32px;
	font-size: 14px;
	text-decoration: none;
	outline: none;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	-webkit-transition: all 100ms;
	transition: all 100ms
}

.Button:active {
	-webkit-transform: translateY(1px);
	transform: translateY(1px);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2)
}

.SidebarMenu {
	padding-right: 24px
}

.SidebarMenu ul {
	list-style-type: none;
	padding: 0
}

.SidebarMenu__Title {
	font-size: 18px;
	color: #656D78;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	text-transform: uppercase
}

.SidebarMenu__Link {
	text-decoration: none;
	display: block;
	padding: 6px 0;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #434A5A
}

.SidebarMenu__Link.is-indent {
	padding-left: 10px;
	border-left: 1px dashed #CCD1D9;
	margin-left: 4px
}

.SidebarMenu__Link.is-folder {
	font-weight: 700;
	color: #000;
	cursor: default
}

.SidebarMenu__Link:hover:not(.is-folder),
.SidebarMenu__Link.is-active {
	color: #0072bc
}