swagger: '2.0'
info:
  version: 1.0.0
  title: Contacthub
  description: >-
    The platform to collect, store, conserve, update and export all the digital
    identity data of your customers.
  contact:
    name: API Support
    url: 'http://www.contactlab.com'
    email: contacthub@contactlab.com
  license:
    name: Contactlab SPA
    url: 'http://www.contactlab.com/en/'
consumes:
  - application/json
produces:
  - application/json
host: api.contactlab.it
schemes:
  - https
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
basePath: /hub/v1
tags:
  - name: configuration
    description: Configuration endpoint
  - name: model
    description: Model endpoint
  - name: customer
    description: Customer endpoint
  - name: event
    description: Event endpoint
  - name: segment
    description: Segment endpoint
  - name: analytic
    description: Analytic endpoint
  - name: automation
    description: Automation endpoint
  - name: user
    description: User endpoint
  - name: audit
    description: Audit endpoint
paths:
  '/me':
    get:
      description: |
        Gets all the info of user
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UserInfo'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - user
  '/workspaces/{id-workspace}/configuration':
    get:
      description: |
        Gets workspace parameters
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/WorkspaceConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
    put:
      description: |
        Modify workspace parameters
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: configuration
          in: body
          required: true
          description: Object necessary to modify workspace parameters
          schema:
            $ref: '#/definitions/WorkspaceConfiguration'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/WorkspaceConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/configuration/properties/base':
    get:
      description: |
        Gets all base properties
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              elements:
                description: the list of base properties
                type: array
                items:
                  $ref: '#/definitions/BasePropertyConfiguration'

        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/configuration/properties/base/{name}':
    put:
      description: |
        Enable/Disable base properties
      parameters:
        - name: name
          in: path
          description: The name of base customer property
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: baseProperty
          description: |
            baseProperty object for enable or disable property
          in: body
          required: true
          schema:
            $ref: '#/definitions/BasePropertyConfiguration'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BasePropertyConfiguration'
        '400':
          description: If the client tries to change a fields different from `enabled`
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/configuration/properties/extended':
    get:
      description: >
        Gets extended properties configurated. The json schema of extended
        property (including for every elements the contactlabProperties object
        with property `label`, `enabled` and `mergePolicy` with value
        OBJ_PRIORITY, OBJ_CONCATENATE, ARRAY_UNION, ARRAY_INTERSECTION,
        MATH_SUM, MATH_AVG, MATH_DIFF, MATH_MIN, MATH_MAX).
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ExtendedPropertyConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
    put:
      description: >
        Modify extended properties configurated. 
                                              
        The json schema of extended property (including for every elements 
        the contactlabProperties object with property `label`, `enabled` 
        and `mergePolicy` with value
        OBJ_PRIORITY, OBJ_CONCATENATE, ARRAY_UNION, ARRAY_INTERSECTION,
        MATH_SUM, MATH_AVG, MATH_DIFF, MATH_MIN, MATH_MAX).

        #### EXAMPLE

        ```json

        {
          "membership_card_nr": {
            "description": "il numero della membership card",
            "type": "number",
            "contactlabProperties":{
              "label": "Membership Card",
              "mergePolicy": "OBJ_PRIORITY",
              "enabled": true
            }
          },
          "point": {
            "description": "i punti accumulati con la membership card",
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true
            "contactlabProperties":{
              "label": "Membership Card",
              "mergePolicy": "OBJ_PRIORITY",
              "enabled": true
            }
          },
          "tags": {
            "description": "i tag associati al profilo",
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "uniqueItems": true
            "contactlabProperties":{
              "label": "Tags",
              "mergePolicy": "ARRAY_INTERSECTION",
              "enabled": true
            }
          },
          "dimensions": {
            "type": "object",
            "contactlabProperties":{
              "label": "Misure fisiche",
              "mergePolicy": "OBJ_PRIORITY",
              "enabled": true
            },
            "properties": {
              "height": {
                    "type": "number",
                    "contactlabProperties":{
                      "label": "Altezza",
                      "mergePolicy": "OBJ_PRIORITY",
                      "enabled": true
                    }
                  },
              "weight": {
                    "type": "number",
                    "contactlabProperties":{
                      "label": "Peso",
                      "mergePolicy": "OBJ_PRIORITY",
                      "enabled": true
                    }
                  }
            }
          },
          ........
        }
        ```
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: schema
          description: >
            The json necessary to define extended profile in json schema
            standard
          in: body
          required: true
          schema:
            type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ExtendedPropertyConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/configuration/unique-customer-matching-policy':
    get:
      description: |
        Gets unique customer matching policies for aggregations
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UniqueCustomerMatchingPolicyConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
    put:
      description: |
        Modify unique customer matching policies for aggregations
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: properties
          description: |
            The flag to enable/disable the property base.
          in: body
          required: true
          schema:
            type: array
            items:
              type: string
              description: Rules of aggregations
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UniqueCustomerMatchingPolicyConfiguration'
        '400':
          description: "You have sent one or more unexpected properties"
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/configuration/nodes/entries':
    get:
      description: |
        Gets list of entries node
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              elements:
                description: the list of node
                type: array
                items:
                  $ref: '#/definitions/EntryNodeConfiguration'
              page:
                  $ref: '#/definitions/Page'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
    post:
      description: |
        Create new entries node
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: entryNode
          description: |
            The entry node object
          in: body
          required: true
          schema:
            $ref: '#/definitions/PostEntryNodeConfiguration'
      security:
         - Bearer: []
      responses:
        '201':
          description: Created new entry node
          schema:
            $ref: '#/definitions/EntryNodeConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/configuration/nodes/entries/{id}':
    get:
      description: |
        Gets details of a specific entry node
      parameters:
        - name: id
          in: path
          description: The unique identifier of entry node
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/EntryNodeConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
    put:
      description: |
        Modify a specific entry node
      parameters:
        - name: id
          in: path
          description: The unique identifier of entry node
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: entryNode
          description: |
            The entry node object
          in: body
          required: true
          schema:
            $ref: '#/definitions/EntryNodeConfiguration'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/EntryNodeConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/configuration/nodes/views':
    get:
      description: |
        Gets list of view node
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              elements:
                description: the list of node view
                type: array
                items:
                  $ref: '#/definitions/ViewNodeConfiguration'
              page:
                $ref: '#/definitions/Page'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
    post:
      description: |
        Create new view node
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: viewNode
          description: |
            The view node object
          in: body
          required: true
          schema:
            $ref: '#/definitions/PostViewNodeConfiguration'
      security:
         - Bearer: []
      responses:
        '201':
          description: Created new view node
          schema:
            $ref: '#/definitions/ViewNodeConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/configuration/nodes/views/{id}':
    get:
      description: |
        Gets details of a specific view node
      parameters:
        - name: id
          in: path
          description: The unique identifier of view node
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ViewNodeConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
    put:
      description: |
        Modify a specific view node
      parameters:
        - name: id
          in: path
          description: The unique identifier of view node
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: viewNode
          description: |
            The view node object
          in: body
          required: true
          schema:
            $ref: '#/definitions/ViewNodeConfiguration'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ViewNodeConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
    delete:
      description: |
        Delete a specific view node
      parameters:
        - name: id
          in: path
          description: The unique identifier of view node
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
        '400':
          description: If the view node is used in the node hierarchy
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/configuration/nodes/node-hierarchy':
    get:
      description: |
        Define the hierarchy of the tree mapping the workspace organization
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/NodeHierarchyConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
    put:
      description: |
        Modify the hierarchy of the tree mapping the workspace organization
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: hierarchyNode
          description: |
            The node hierarchy object
          in: body
          required: true
          schema:
            $ref: '#/definitions/NodeHierarchyConfiguration'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/NodeHierarchyConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/configuration/sources':
    get:
      description: |
        Gets list of source configurated
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              elements:
                description: the list of source configuration
                type: array
                items:
                  $ref: '#/definitions/SourceConfiguration'
              page:
                $ref: '#/definitions/Page'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
    post:
      description: |
        Create a new source
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: source
          description: |
            The source configuration object
          in: body
          required: true
          schema:
            $ref: '#/definitions/PostSourceConfiguration'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SourceConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/configuration/sources/{id}':
    get:
      description: |
        Gets source details
      parameters:
        - name: id
          in: path
          description: The unique identifier of source
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SourceConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
    put:
      description: |
        Modify source
      parameters:
        - name: id
          in: path
          description: The unique identifier of source
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: source
          description: |
            The source configuration object
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutSourceConfiguration'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SourceConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
    delete:
      description: |
        Delete source
      parameters:
        - name: id
          in: path
          description: The unique identifier of source
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/configuration/sources/{id}/refresh-token':
    post:
      description: |
        Refresh source token
      parameters:
        - name: id
          in: path
          description: The unique identifier of source
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SourceConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/configuration/events':
    get:
      description: |
        Gets list of built-in event
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              elements:
                description: the list of event
                type: array
                items:
                  $ref: '#/definitions/EventConfiguration'
              page:
                $ref: '#/definitions/Page'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/configuration/events/{id}':
    get:
      description: |
        Gets details of built-in event
      parameters:
        - name: id
          in: path
          description: The unique identifier of event
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/EventConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
    put:
      description: |
        Enable/Disable built-in event
      parameters:
        - name: id
          in: path
          description: The unique identifier of built-in
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: event
          description: |
            event object for enable or disable
          in: body
          required: true
          schema:
            $ref: '#/definitions/EventConfiguration'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/EventConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration

  '/workspaces/{id-workspace}/audit':
    get:
      description:
        Gets audit event
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: customerId
          in: query
          description: The unique identifier of customer
          type: string
        - name: eventType
          in: query
          description: The name of event type
          type: string
          enum:
            - customerCreated
            - customerUpdated
            - customerDeleted
            - eventCreated
            - eventDeleted
        - name: nodeId
          in: query
          description: The node identifier
          type: string
        - name: sourceId
          in: query
          description: The source identifier
          type: string
        - name: dateFrom
          in: query
          description: From datetime for search of event
          type: string
          format: date-time
        - name: dateTo
          in: query
          description: To datetime for search of event
          type: string
          format: date-time
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PagedAuditEvent'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - audit
  '/workspaces/{id-workspace}/configuration/users':
    get:
      description: |
        Gets users
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              elements:
                description: the list of user
                type: array
                items:
                  $ref: '#/definitions/User'
              page:
                $ref: '#/definitions/Page'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/configuration/users/{id}':
    get:
      description: |
        Gets user details
      parameters:
        - name: id
          in: path
          description: The unique identifier of user
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/User'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
    put:
      description: |
        Modify user nodes
      parameters:
        - name: id
          in: path
          description: The unique identifier of user
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: user
          description: |
            The user configuration object
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutUser'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/User'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
  '/workspaces/{id-workspace}/customers':
    get:
      description: |
        Gets list of customers
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: nodeId
          in: query
          description: Identifier of the node where you want to do the search
          required: true
          type: string
        - name: externalId
          in: query
          description: The external id assigned to the customers
          type: string
        - name: query
          in: query
          description: Query for filter the customers
          type: string
        - name: fields
          in: query
          description: Comma-separated list of properties to include in the response
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PagedCustomer'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
    post:
      description: |
        Create a new customer
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: customer
          in: body
          required: true
          description: Object necessary to create customer
          schema:
            $ref: '#/definitions/PostCustomer'
      security:
         - Bearer: []
      responses:
        '201':
          description: Created new customer
          schema:
            $ref: '#/definitions/Customer'
        '403':
          description: "You don't have the necessary permissions for the resource"
        '409':
          description: "Customer unique constraint violation"
      tags:
        - customer
  '/workspaces/{id-workspace}/customers/{id}':
    get:
      description: |
        Gets details of customer
      parameters:
        - name: id
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Customer'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
    patch:
      description: |
        Modifies partially the customer
      parameters:
        -
          name: id
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        -
          name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        -
          name: customer
          in: body
          description: The customer object
          required: true
          schema:
            $ref: '#/definitions/PatchCustomer'
      security:
         - Bearer: []
      responses:
        200:
          description: Successful response
        '403':
          description: "You don't have the necessary permissions for the resource"
        '409':
          description: "Customer unique constraint violation"
      tags:
        - customer
    put:
      description: |
        Modify customer
      parameters:
        - name: id
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: customer
          in: body
          required: true
          description: Object necessary to update customer
          schema:
            $ref: '#/definitions/PutCustomer'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Customer'
        '403':
          description: "You don't have the necessary permissions for the resource"
        '409':
          description: "Customer unique constraint violation"
      tags:
        - customer
    delete:
      description: |
        Delete customer
      parameters:
        - name: id
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
  '/workspaces/{id-workspace}/customers/{id}/sources':
    get:
      description: |
        Gets list of raw data from sources
      parameters:
        - name: id
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              elements:
                description: the list of source customer
                type: array
                items:
                  $ref: '#/definitions/SourceCustomer'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
  '/workspaces/{id-workspace}/customers/{id}/sources/{id-source}':
    get:
      description: |
        Gets raw data from a specific sources
      parameters:
        - name: id
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-source
          in: path
          description: The unique identifier of source
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SourceCustomer'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
  '/workspaces/{id-workspace}/customers/{customerId}/educations':
    post:
      description: |
        Create customer education
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: education
          in: body
          required: true
          description: Object necessary to create customer education
          schema:
            $ref: '#/definitions/Education'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Education'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
  '/workspaces/{id-workspace}/customers/{customerId}/educations/{id}':
    get:
      description: |
        Gets details of customer education
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of customer education
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Education'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
    put:
      description: |
        Modify customer education
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of customer education
          required: true
          type: string
        - name: education
          in: body
          required: true
          description: Object necessary to update customer education
          schema:
            $ref: '#/definitions/Education'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Education'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
    delete:
      description: |
        Delete customer education
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of customer education
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
  '/workspaces/{id-workspace}/customers/{customerId}/likes':
    post:
      description: |
        Create customer like
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: like
          in: body
          required: true
          description: Object necessary to create customer like
          schema:
            $ref: '#/definitions/Like'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Like'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
  '/workspaces/{id-workspace}/customers/{customerId}/likes/{id}':
    get:
      description: |
        Gets details of customer like
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of customer like
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Like'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
    put:
      description: |
        Modify customer like
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of customer like
          required: true
          type: string
        - name: like
          in: body
          required: true
          description: Object necessary to update customer like
          schema:
            $ref: '#/definitions/Like'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Like'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
    delete:
      description: |
        Delete customer like
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of customer like
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
  '/workspaces/{id-workspace}/customers/{customerId}/jobs':
    post:
      description: |
        Create customer job
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: job
          in: body
          required: true
          description: Object necessary to create customer job
          schema:
            $ref: '#/definitions/Job'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
  '/workspaces/{id-workspace}/customers/{customerId}/jobs/{id}':
    get:
      description: |
        Gets details of customer job
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of customer job
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
    put:
      description: |
        Modify customer job
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of customer job
          required: true
          type: string
        - name: job
          in: body
          required: true
          description: Object necessary to update customer job
          schema:
            $ref: '#/definitions/Job'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
    delete:
      description: |
        Delete customer job
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of customer job
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
  '/workspaces/{id-workspace}/customers/{customerId}/subscriptions':
    post:
      description: |
        Create customer subscription
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: subscription
          in: body
          required: true
          description: Object necessary to create customer subscription
          schema:
            $ref: '#/definitions/Subscription'
      security:
         - Bearer: []
      responses:
        '201':
          description: Created new customer subscription
          schema:
            $ref: '#/definitions/Subscription'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
  '/workspaces/{id-workspace}/customers/{customerId}/subscriptions/{id}':
    get:
      description: |
        Gets details of customer subscription
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of customer subscription
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Subscription'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
    put:
      description: |
        Modify customer subscription
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of customer subscription
          required: true
          type: string
        - name: subscription
          in: body
          required: true
          description: Object necessary to update customer subscription
          schema:
            $ref: '#/definitions/Subscription'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Subscription'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
    delete:
      description: |
        Delete customer subscription
      parameters:
        - name: customerId
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of customer subscription
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
  '/workspaces/{id-workspace}/configuration/sources/priority':
    get:
      description: |
        Gets source priority
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SourcePriorityConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration
    put:
      description: |
        Modify source priority
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: sourcePriority
          in: body
          description: source priority object
          required: true
          schema:
            $ref: '#/definitions/SourcePriorityConfiguration'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SourcePriorityConfiguration'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - configuration

  # [BEGIN] EVENT AUTOMATION APIs DEFINITION
  '/workspaces/{id-workspace}/configuration/automations/event-trigger':
    get:
      description: Gets all configured automations
      parameters:
        - name: id-workspace
          in: path
          description: Unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PagedAutomationConfigurationValues'
        '403':
          description: You don't have the necessary permissions for the resource
      tags:
        - automation
    post:
      description: |
        Creates a new automation configuration  
                        
        #### EXAMPLE
        ```json
        {
          "name": "Webhook",
          "enabled": true,
          "nodes": [
            "9d57e0e4-42cd-4b84-9eab-7dc28fb5a220"
          ],
          "topic": {
            "eventType": "addedProduct",
            "customerType": "ANONYMOUS",
            "eventContext": "WEB",
            "query": {
              "are": {
                "condition": {
                  "conditions": [
                    {
                      "value": [
                        "82f0d0a1-84df-4af5-9fb8-57dca1950808"
                      ],
                      "operator": "IN",
                      "attribute": "nodeId",
                      "type": "atomic"
                    },
                    {
                      "value": [
                        1472421600000,
                        1475099999999
                      ],
                      "operator": "BETWEEN",
                      "attribute": "date",
                      "type": "atomic"
                    },
                    {
                      "value": "customerCreated",
                      "operator": "EQUALS",
                      "attribute": "type",
                      "type": "atomic"
                    }
                  ],
                  "conjunction": "and",
                  "type": "composite"
                }
              },
              "name": "mySimpleQuery",
              "type": "simple"
            }
          },
          "tag": {
            "operations": [
              { "op": "SET_NULL", "path": "/foo"},
              { "op": "SET_CONSTANT", "path": "/baz", "value": "boo" },
              { "op": "ADD_CONSTANT", "path": "/hello", "value": ["world"] },
              { "op": "SUB_EVENT_PROPERTY", "path": "/customerPrice", "value": "/_price"},
              { "op": "SUB_CONSTANT", "path": "/customerPrice2", "value": 2}
            ]
          },
          "webhook": {
            "url": "http://...",
            "format": "JSON",
            "body": {
              "type": "LIST",
              "contents": [
                {"type": "CONSTANT", "key": "d","value": "/eventfield"},
                {"type": "EVENT_PROPERTY", "key": "d", "value": "/constantvalue"}
              ]
            }
          }
        }
        ```
      parameters:
        - name: id-workspace
          in: path
          description: Unique identifier of workspace
          required: true
          type: string
        - name: configuration
          in: body
          required: true
          schema:
            $ref: '#/definitions/AutomationConfigurationPayload'
      security:
         - Bearer: []
      responses:
        '201':
          description: Created new automation
          schema:
            $ref: '#/definitions/AutomationConfiguration'
        '403':
          description: You don't have the necessary permissions for the resource
      tags:
        - automation

  '/workspaces/{id-workspace}/configuration/automations/event-trigger/{id-automation}':
    get:
      description: Gets a specific automation
      parameters:
        - name: id-workspace
          in: path
          description: Unique identifier of workspace
          required: true
          type: string
        - name: id-automation
          in: path
          description: Unique identifier of automation
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AutomationConfiguration'
        '403':
          description: You don't have the necessary permissions for the resource
      tags:
        - automation
    put:
      description: |
        Updates a specific automation   
                                              
        #### EXAMPLE
        ```json
        {
          "name": "Webhook",
          "enabled": true,
          "nodes": [
            "9d57e0e4-42cd-4b84-9eab-7dc28fb5a220"
          ],
          "topic": {
            "eventType": "addedProduct",
            "customerType": "ANONYMOUS",
            "eventContext": "WEB",
            "query": {
              "are": {
                "condition": {
                  "conditions": [
                    {
                      "value": [
                        "82f0d0a1-84df-4af5-9fb8-57dca1950808"
                      ],
                      "operator": "IN",
                      "attribute": "nodeId",
                      "type": "atomic"
                    },
                    {
                      "value": [
                        1472421600000,
                        1475099999999
                      ],
                      "operator": "BETWEEN",
                      "attribute": "date",
                      "type": "atomic"
                    },
                    {
                      "value": "customerCreated",
                      "operator": "EQUALS",
                      "attribute": "type",
                      "type": "atomic"
                    }
                  ],
                  "conjunction": "and",
                  "type": "composite"
                }
              },
              "name": "mySimpleQuery",
              "type": "simple"
            }
          },
          "tag": {
            "operations": [
              { "op": "REMOVE", "path": "/foo"},
              { "op": "SET_CONSTANT", "path": "/baz", "value": "boo" },
              { "op": "ADD_CONSTANT", "path": "/hello", "value": ["world"] },
              { "op": "SUB_EVENT_PROPERTY", "path": "/customerPrice", "value": "/_price"},
              { "op": "SUB_CONSTANT", "path": "/customerPrice2", "value": 2}
            ]
          },
          "webhook": {
            "url": "http://...",
            "format": "JSON",
            "body": {
              "type": "LIST",
              "contents": [
                {"type": "CONSTANT", "key": "d","value": "/eventfield"},
                {"type": "EVENT_PROPERTY", "key": "d", "value": "/constantvalue"}
              ]
            }
          }
        }
        ```
      parameters:
        - name: id-workspace
          in: path
          description: Unique identifier of workspace
          required: true
          type: string
        - name: id-automation
          in: path
          description: Unique identifier of automation
          required: true
          type: string
        - name: configuration
          in: body
          required: true
          schema:
            $ref: '#/definitions/AutomationConfigurationPayload'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AutomationConfiguration'
        '403':
          description: You don't have the necessary permissions for the resource
      tags:
        - automation
    delete:
      description: Deletes a specific automation
      parameters:
        - name: id-workspace
          in: path
          description: Unique identifier of workspace
          required: true
          type: string
        - name: id-automation
          in: path
          description: Unique identifier of automation
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
        '403':
          description: You don't have the necessary permissions for the resource
      tags:
        - automation
  # [END] EVENT AUTOMATION APIs DEFINITION

  '/workspaces/{id-workspace}/customers/{id}/sessions':
    get:
      description: |
        Gets list of session assign to customer
      parameters:
        - name: id
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              elements:
                description: the list of session customer
                type: array
                items:
                  $ref: '#/definitions/Session'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
    post:
      description: |
        Create a session of customer
      parameters:
        - name: id
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: session
          in: body
          required: true
          description: Object necessary to create a session customer
          schema:
            type: object
            properties:
              value:
                type: string
                description: >-
                  the session id of customer. the value is unique for a single node
      security:
         - Bearer: []
      responses:
        '201':
          description: Created new session of customer
          schema:
            $ref: '#/definitions/Session'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
  '/workspaces/{id-workspace}/customers/{id}/sessions/{id-session}':
    get:
      description: |
        Gets a specific sessions assigned at customer
      parameters:
        - name: id
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-session
          in: path
          description: The unique identifier of session
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Session'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
    delete:
      description: |
        Delete session assigned at customer
      parameters:
        - name: id
          in: path
          description: The unique identifier of customer
          required: true
          type: string
        - name: id-session
          in: path
          description: The unique identifier of session
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - customer
  '/workspaces/{id-workspace}/events':
    get:
      description: |
        Gets list of events
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: customerId
          in: query
          description: The unique identifier of workspace
          required: true
          type: string
        - name: type
          in: query
          description: The name of type event
          type: string
        - name: context
          in: query
          description: The name of context event
          type: string
        - name: mode
          in: query
          description: >-
            the mode of event. ACTIVE if the customer made the event, PASSIVE if
            the customer recive the event
          type: string
          enum:
            - ACTIVE
            - PASSIVE
        - name: dateFrom
          in: query
          description: From datetime for search of event
          type: string
          format: date-time
        - name: dateTo
          in: query
          description: To datetime for search of event
          type: string
          format: date-time
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PagedEvent'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - event
    post:
      description: |
        Insert new event
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: event
          in: body
          required: true
          description: Object necessary to create an event
          schema:
            $ref: '#/definitions/PostEvent'
      security:
         - Bearer: []
      responses:
        '202':
          description: The request has been accepted for processing
          schema:
            $ref: '#/definitions/Event'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - event
  '/workspaces/{id-workspace}/events/{id}':
    get:
      description: |
        Gets details of specific event
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of event
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Event'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - event
    delete:
      description: |
        Deletes a specific event
      parameters:
        - name: id
          in: path
          description: The event identifier
          required: true
          type: string
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '204':
          description: "Successful response"
        '403':
          description: "You don't have the necessary permissions for the resource"
        '404':
          description: "If no event corresponds to the specified identifier"
      tags:
        - event
  '/workspaces/{id-workspace}/segments':
    get:
      description: Gets list of segments
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: name
          in: query
          description: Query for filter by name the segment
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PagedSegment'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - segment
    post:
      description: |
        insert a new segments
                                              
        #### EXAMPLE
        ```json
        {
          "name": "segment with 2 conditions",
          "query": {
                   "type": "simple",
                   "name": "query rossi-brambilla",
                   "are": {
                           "condition": {
                                   "type": "composite",
                                   "conjunction": "or",
                                   "conditions": [{
                                          "type": "atomic",
                                          "attribute": "user.surname",
                                          "operator": "EQUALS",
                                          "value": "ROSSI"
                                   }, {
                                          "type": "atomic",
                                          "attribute": "user.surname",
                                          "operator": "EQUALS",
                                          "value": "BRAMBILLA"
                                   }]
                           }
                   }
          },
          "enable": true
        }
        ```
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: segment
          in: body
          description: Object necessary to create segment
          required: true
          schema:
            $ref: '#/definitions/PostSegment'
      security:
         - Bearer: []
      responses:
        '201':
          description: Created new segment
          schema:
            type: array
            items:
              $ref: '#/definitions/Segment'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - segment
  '/workspaces/{id-workspace}/segments/{id}':
    get:
      description: |
        Details of specific segment
                                              
        #### EXAMPLE
        ```json
        {
          "id": "059a4855-f304-4dbc-9e11-d1163aa96b0c",
          "name": "segment with 2 conditions",
          "query": {
                   "type": "simple",
                   "name": "query rossi-brambilla",
                   "are": {
                           "condition": {
                                   "type": "composite",
                                   "conjunction": "or",
                                   "conditions": [{
                                          "type": "atomic",
                                          "attribute": "user.surname",
                                          "operator": "EQUALS",
                                          "value": "ROSSI"
                                   }, {
                                          "type": "atomic",
                                          "attribute": "user.surname",
                                          "operator": "EQUALS",
                                          "value": "BRAMBILLA"
                                   }]
                           }
                   }
          },
          "createdAt": "2016-02-23T09:26:33Z",
          "updatedAt": "2016-02-23T09:26:44Z",
          "enable": true
        }
        ```
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of segment
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Segment'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - segment
    put:
      description: Modify a specific segment
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of segment
          required: true
          type: string
        - name: segment
          in: body
          description: Object necessary to update segment
          required: true
          schema:
            $ref: '#/definitions/PutSegment'
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Segment'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - segment
    delete:
      description: Delete a specific segment
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of segment
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Segment'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - segment
  '/workspaces/{id-workspace}/segments/{id}/customers':
    get:
      description: >
        List of customer in a specific segment. 
                                              
        The output it's a list of id. For other property specify with paramenters fields
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: id
          in: path
          description: The unique identifier of segment
          required: true
          type: string
        - name: fields
          in: query
          description: Comma-separated list of properties to include in the response
          required: true
          type: string
        - name: nodeId
          in: query
          description: The identifier of node where you want made the query
          required: true
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PagedCustomer'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - segment
  '/workspaces/{id-workspace}/analytics/trend/customer':
    get:
      description: |
        Trend of customer base
                                              
        #### EXAMPLE
        ```json
        {
          "name": "analytics trend",
          "parameters": {
            "nodes": null,
            "mode": "MONTHLY",
            "startDate": "2015-12-31",
            "endDate": "2016-08-31"
          },
          "headers": {
            "nodeId": {
              "description": "the node Id",
              "type": "string"
            },
            "values": {
              "description": "the value list",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "time": {
                    "description": "Date referral to mode defined in request",
                    "type": "string"
                  },
                  "new": {
                    "description": "Number of new customers",
                    "type": "number"
                  },
                  "lost": {
                    "description": "Number of lost customers",
                    "type": "number"
                  },
                  "total": {
                    "description": "Number of total customer in the node",
                    "type": "number"
                  }
                }
              }
            }
          },
          "data": [
            {
              "values": [
                {
                  "new": 1,
                  "total": 2,
                  "time": "2016-01",
                  "lost": 0
                },
                {
                  "new": 12,
                  "total": 13,
                  "time": "2016-02",
                  "lost": 1
                },...
              ],
              "nodeId": "node_1"
            }
          ]
        }
        ```
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: mode
          in: query
          description: 'Mode of aggretation daily, weekly,monthly'
          required: true
          type: string
          enum:
            - DAILY
            - WEEKLY
            - MONTHLY
          default: DAILY
        - name: startDate
          in: query
          description: The start date for get the trend
          required: true
          type: string
          format: date
        - name: endDate
          in: query
          description: The end date for get the trend
          required: true
          type: string
          format: date
        - name: nodes
          in: query
          description: The list of nodeId separated by comma
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Trend'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - analytic
  '/workspaces/{id-workspace}/analytics/trend/event':
    get:
      description: |
        Trend of events.
                                              
        #### EXAMPLE
        ```json
        {
          "name": "Events trend analytics",
          "parameters": {
            "nodes": null,
            "mode": "MONTHLY",
            "startDate": "2015-12-31",
            "endDate": "2016-08-31",
            "eventType": "completedOrder",
            "context": "ECOMMERCE"
          },
          "headers": {
            "nodeId": {
              "description": "Node identifier",
              "type": "string"
            },
            "values": {
              "description": "Distribution list",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "time": {
                    "description": "Date referral to mode defined in request",
                    "type": "string"
                  },
                  "new": {
                    "description": "Number of new events",
                    "type": "number"
                  },
                  "total": {
                    "description": "Number of total events in the node",
                    "type": "number"
                  }
                }
              }
            }
          },
          "data": [
            {
              "values": [
                {
                  "new": 1,
                  "total": 2,
                  "time": "2016-01"
                },
                {
                  "new": 12,
                  "total": 13,
                  "time": "2016-02"
                }, ...
              ],
              "nodeId": "node_1"
            }
          ]
        }
        ```
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: mode
          in: query
          description: 'Mode of aggretation daily, weekly and monthly'
          required: true
          type: string
          enum:
            - DAILY
            - WEEKLY
            - MONTHLY
          default: DAILY
        - name: startDate
          in: query
          description: The start date for get the trend
          required: true
          type: string
          format: date
        - name: endDate
          in: query
          description: The end date for get the trend
          required: true
          type: string
          format: date
        - name: nodes
          in: query
          description: The list of nodeId separated by comma
          type: string
        - name: context
          in: query
          description: the event context
          type: string
        - name: eventType
          in: query
          description: the event type
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/EventTrend'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - analytic
  '/workspaces/{id-workspace}/analytics/composition/gender':
    get:
      description: |
        Get composition by gender for one o multiple node
                                              
        #### EXAMPLE
        ```json
        {
          "name": "analytics gender",
          "parameters": {
            "nodes": null,
            "startDate": "2015-12-31",
            "endDate": "2016-08-31"
          },
          "headers": {
            "nodeId": {
              "description": "the node Id",
              "type": "string"
            },
            "distribution": {
              "description": "the distribution list",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Gender name",
                    "type": "string"
                  },
                  "value": {
                    "description": "Value for gender",
                    "type": "string"
                  }
                }
              }
            }
          },
          "data": [
            {
              "distribution": [{"name": "male", "value": 7},{"name": "N/A", "value": 1},{"name": "female", "value": 1}],
              "nodeId": "node_1"
            }, ...
          ]
        }
        ```
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: nodes
          in: query
          description: The list of nodeId separated by comma
          type: string
        - name: startDate
          in: query
          description: Start date of the composition
          type: string
          format: date
        - name: endDate
          in: query
          description: End date of the composition
          type: string
          format: date
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CompositionGender'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - analytic
  '/workspaces/{id-workspace}/analytics/composition/age-range':
    get:
      description: |
        Get composition by age range for one o multiple node
                                              
        #### EXAMPLE
        ```json
        {
          "name": "analytics age-range",
          "parameters": {
            "nodes": null,
            "startDate": "2015-12-31",
            "endDate": "2016-08-31"
          },
          "headers": {
            "nodeId": {
              "description": "the node Id",
              "type": "string"
            },
            "distribution": {
              "description": "the distribution list",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Age range name",
                    "type": "string"
                  },
                  "value": {
                    "description": "Value for Age range",
                    "type": "string"
                  }
                }
              }
            }
          },
          "data": [
            {
              "distribution": [
              {"name": "> 64","value": 0},{"name": "55-64","value": 0},{"name": "45-54","value": 1},{"name": "35-44","value": 2},
              {"name": "25-34","value": 2},{"name": "18-24", "value": 1},{"name": "< 18","value": 2},{"name": "N/A","value": 1}
              ],
              "nodeId": "node_1"
            },...
          ]
        }
        ```
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: nodes
          in: query
          description: The list of nodeId separated by comma
          type: string
        - name: startDate
          in: query
          description: Start date of the composition
          type: string
          format: date
        - name: endDate
          in: query
          description: End date of the composition
          type: string
          format: date
      security:
        - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CompositionAgeRange'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - analytic

  '/workspaces/{id-workspace}/analytics/composition/geo/country':
    get:
      description: |
        Get composition by country for one o multiple node
                                              
        #### EXAMPLE
        ```json
        {
          "name": "analytics geo-country",
          "parameters": {
            "nodes": null,
            "startDate": "2015-12-31",
            "endDate": "2016-08-31"
          },
          "headers": {
            "nodeId": {
              "description": "the node Id",
              "type": "string"
            },
            "distribution": {
              "description": "the distribution list",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Country name",
                    "type": "string"
                  },
                  "value": {
                    "description": "Value for country",
                    "type": "string"
                  }
                }
              }
            }
          },
          "data": [
            {
              "nodeId": "1",
              "distribution":[{"name": "italy", "value": 12000}, {"name": "spain", "value": 10000}, ....]
            },
            {
              "nodeId": "2",
              "distribution":[{"name": "italy", "value": 12000}, {"name": "spain", "value": 10000}, ....]
            }
          ]
        }
        ```
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: nodes
          in: query
          description: The list of nodeId separated by comma
          type: string
        - name: startDate
          in: query
          description: Start date of the composition
          type: string
          format: date
        - name: endDate
          in: query
          description: End date of the composition
          type: string
          format: date
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CompositionGeoCountry'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - analytic
  '/workspaces/{id-workspace}/analytics/composition/geo/city':
    get:
      description: |
        Get composition by city for one o multiple node
                                              
        #### EXAMPLE
        ```json
        {
          "name": "analytics geo-city",
          "parameters": {
            "nodes": null,
            "country": 'italy',
            "startDate": "2015-12-31",
            "endDate": "2016-08-31"
          },
          "headers": {
            "nodeId": {
              "description": "the node Id",
              "type": "string"
            },
            "distribution": {
              "description": "the distribution list",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "City name",
                    "type": "string"
                  },
                  "value": {
                    "description": "Value for city",
                    "type": "string"
                  }
                }
              }
            }
          },
          "data": [
            {
              "distribution":[{"name": "rome", "value": 12000}, {"name": "milan", "value": 10000}, ....],
              "nodeId": "node_1"
            },...
          ]
        }
        ```
      parameters:
        - name: id-workspace
          in: path
          description: The unique identifier of workspace
          required: true
          type: string
        - name: country
          in: query
          description: The name of country to filter
          type: string
        - name: nodes
          in: query
          description: The list of nodeId separated by comma
          type: string
        - name: startDate
          in: query
          description: Start date of the composition
          type: string
          format: date
        - name: endDate
          in: query
          description: End date of the composition
          type: string
          format: date
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CompositionGeoCity'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - analytic

  '/workspaces/{id-workspace}/analytics/distribution/customer/node':
    get:
      description: |
        Distribution of new customers, aggregated for nodes.
                                              
        #### EXAMPLE
        ```json
        {
          "name": "Distribution of new customers, aggregated for nodes",
          "parameters": {
            "nodes": "bebbe268-0900-4184-9849-bc609fc90a32",
            "startDate": "2016-08-25",
            "endDate": "2016-09-02"
          },
          "headers": {
            "data": {
              "description": "Distribution for node of 'customerCreated' events",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "nodeId": {
                    "description": "Node identifier",
                    "type": "string"
                  },
                  "count": {
                    "description": "Count of events",
                    "type": "integer"
                  }
                }
              }
            }
          },
          "data": [
            {
              "count": 0,
              "nodeId": "bebbe268-0900-4184-9849-bc609fc90a32"
            }
          ]
        }
        ```
      parameters:
        - name: id-workspace
          in: path
          description: Unique identifier of workspace
          required: true
          type: string
        - name: startDate
          in: query
          description: Start date of the distribution
          type: string
          format: date
        - name: endDate
          in: query
          description: End date of the distribution
          type: string
          format: date
        - name: nodes
          in: query
          description: List of node identifiers separated by comma
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AnalyticDistributionCustomerNode'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - analytic

  '/workspaces/{id-workspace}/analytics/distribution/customer/source':
    get:
      description: |
        Distribution of new customers, aggregated for nodes and sources.
                                              
        #### EXAMPLE
        ```json
        {
          "name": "Distribution of new customers, aggregated for nodes and sources",
          "parameters": {
            "nodes": "bebbe268-0900-4184-9849-bc609fc90a32",
            "startDate": "2016-08-25",
            "endDate": "2016-09-02"
          },
          "headers": {
            "data": {
              "description": "Distribution for node and sources of 'customerCreated' events",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "nodeId": {
                    "description": "Node identifier",
                    "type": "string"
                  },
                  "values": {
                    "description": "Distribution for sources of events",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "sourceId": {
                          "description": "Source identifier",
                          "type": "string"
                        },
                        "count": {
                          "description": "Count of events",
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "data": [
            {
              "values": [
                {
                  "sourceId": "4f3096ca-65ec-4f2e-8332-a4dc0edacd8f",
                  "count": 86
                }
              ],
              "nodeId": "bebbe268-0900-4184-9849-bc609fc90a32"
            }
          ]
        }
        ```
      parameters:
        - name: id-workspace
          in: path
          description: Unique identifier of workspace
          required: true
          type: string
        - name: startDate
          in: query
          description: Start date of the distribution
          type: string
          format: date
        - name: endDate
          in: query
          description: End date of the distribution
          type: string
          format: date
        - name: nodes
          in: query
          description: List of node identifiers separated by comma
          type: string
      security:
         - Bearer: []
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AnalyticDistributionCustomerSource'
        '403':
          description: "You don't have the necessary permissions for the resource"
      tags:
        - analytic
  '/workspaces/{id-workspace}/analytics/distribution/customer/time':
    get:
      description: |
        Distribution of new customers, aggregated for nodes and time.
                                              
        #### EXAMPLE
        ```json
        {
          "name": "Distribution of new customers, aggregated for nodes and time",
          "parameters": {
            "mode": "DAYOFWEEK",
            "nodes": "bebbe268-0900-4184-9849-bc609fc90a32",
            "startDate": null,
            "endDate": null
          },
          "headers": {
            "data": {
              "description": "Distribution for node and time of 'customerCreated' events",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "nodeId": {
                    "description": "Node identifier",
                    "type": "string"
                  },
                  "values": {
                    "description": "Distribution for time of events",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "time": {
                          "description": "Time label",
                          "type": "string"
                        },
                        "count": {
                          "description": "Count of events",
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "data": [
            {
              "values": [
                {
                  "count": 2,
                  "time": "Tue"
                },
                {
                  "count": 7,
                  "time": "Wed"
                },
                {
                  "count": 5,
                  "time": "Thu"
                },
                {
                  "count": 5,
                  "time": "Fri"
                },
                {
                  "count": 2,
                  "time": "Sat"
                },
                {
                  "count": 3,
                  "time": "Sun"
[...]
